html,
body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: $mainFont;
  color: $lightColor;
  background-color: $darkColor;
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-size: 7.9rem;
  line-height: 1.2;
}
h2 {
  font-size: 3.75rem;
  line-height: 1.07;
}
h3 {
  font-size: 2.67rem;
  line-height: 1.06;
}
h4{
  font-size: 2.42rem;
  line-height: 1.2;
}
h5{
  font-size: 1.66rem;
  line-height: 1.1;
}
p {
  font-weight: 500;
}
@mixin p1 {
  font-size: 1.16rem;
  line-height: 1.29;
}
@mixin p2 {
  font-size: 1rem;
  line-height: 1.33;
}
@mixin p3 {
  font-size: 0.83rem;
  line-height: 1.2;
}
.btn{
  @include p2;
  display: inline-block;
  border: 2px solid rgba($lightColor, 0.6);
  background: none;
  border-radius: 100px;
  color: $lightColor;
  padding: 10px 63px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .2s;
  &:focus{
    outline: none;
  }
  &:hover, &:focus{
    border-color: rgba($lightColor, 1);
  }
}
.btn.btn--withArrow{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    right: 27px;
    top: 50%;
    margin-top: -7px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 8px;
    height: 14px;
    transition: .2s;
  }
  &:hover:after, &:focus:after{
    transform: translateX(5px);
  }
}
.container{
  width: 1260px;
  height: 100%;
  max-width: 100%;
  padding: 0 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 999;
}

.content{
  position: absolute;
  z-index: -1;
}

.invisible{
  opacity: 0;
  visibility: hidden;
}

.visible{
  opacity: 1;
  visibility: visible;
  transition: 0.2s ease-in-out;
}

.text-center{
  text-align: center;
}
.vertical-center{
  top: 50%;
  transform: translateY(-50%);
}
.vertical-top{
  top: 50px;
}
.vertical-bottom{
  bottom: 50px;
}
.w-100{
  width: 100%;
}
.d-none{
  display: none;
}
.grey{
  color: $greyColor;
}

.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}

.icon{
  width: 44px;
  height: 44px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-small{
  width: 34px;
  height: 34px;
}

.icon-loading{
  background-image: url('../i/icons/icon-loading.png');
}
.icon-contrast{
  background-image: url('../i/icons/icon-contrast.png');
}
.icon-pixel{
  background-image: url('../i/icons/icon-pixel.png');
}
.icon-oled{
  background-image: url('../i/icons/icon-oled.png');
}
.icon-colors{
  background-image: url('../i/icons/icon-colors.png');
}
.icon-touch{
  background-image: url('../i/icons/icon-touch.png');
}
.icon-night{
  background-image: url('../i/icons/icon-night.png');
}
.icon-tone{
  background-image: url('../i/icons/icon-tone.png');
}
.icon-response{
  background-image: url('../i/icons/icon-response.png');
}
.icon-efficiency{
  background-image: url('../i/icons/icon-efficiency.png');
}
.icon-black{
  background-image: url('../i/icons/icon-black.png');
}

//PRELOADER

#preloader{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//SCROLLBAR

/* total width */
::-webkit-scrollbar {
  background-color: transparent;
  width:16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color:#000;
  padding: 0 2px;
}
::-webkit-scrollbar-track:hover {
  background-color:rgba(#a0a1a5, 0.5)
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #a0a1a5;
  border-radius:16px;
  margin: 0 2px;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}


