@import "./reset";
@import "./fonts";
@import "./variables";
@import "./general";


.intro {
  height: 100vh;
}

.intro video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner{
  display: none;
}

.content1{
  h2{
    padding-bottom: 50px;
    span{
      display: inline-block;
    }
  }
}
.content2{
  h3{
    padding-bottom: 30px;
  }
  p{
    @include p2;
  }
}
.content3{
  bottom: 130px;
  h5{
    padding-top: 90px;
    padding-bottom: 20px;
  }
  p{
    @include p2;
  }
}
.content4, .content5, .content6{
  h4{
    padding-bottom: 60px;
  }
}

.content7{
  h2{
    span:first-child{
      color: $greyColor;
    }
  }
}

.content-cursor{
  width: 50%;
  h5{
    margin-bottom: 40px;
    &:after{
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: $lightColor;
      margin-top: 20px;
    }
  }
  li{
    @include p1;
  }
}
.content15, .content18{
  @include p1;
}


@import "./media";