@import "./reset";
@import "./fonts";
@import "./variables";
@import "./general";

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content1{
  top: 50%;
  transform: translateY(-50%);
  h2{
    padding-bottom: 60px;
    span{
      display: inline-block;
      opacity: 0;
    }
  }
}

section {
  height: 100vh;
  color: black;
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}
