@import "./reset";
@import "./fonts";
@import "./variables";
@import "./general";


.intro {
  height: 100vh;
  max-width: 100%;
}

.intro video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content1{
  h2{
    span{
      display: inline-block;
    }
  }
  h5{
    padding-bottom: 50px;
  }
}
.content2{
  top: 130px;
  h3{
    padding-bottom: 30px;
  }
  p{
    @include p2;
  }
}
.content3{
  bottom: 130px;
  h5{
    padding-top: 90px;
    padding-bottom: 20px;
  }
  p{
    @include p2;
  }
}
.content4, .content5, .content6{
  h4{
    padding-bottom: 60px;
  }
}

.content7{
  h2{
    span:first-child{
      color: $greyColor;
    }
  }
}

.content-cursor{
  width: 56%;
  h5{
    margin-bottom: 40px;
    &:after{
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: $lightColor;
      margin-top: 20px;
    }
  }
  li{
    @include p1;
  }
}
.content10{
  top: 100px;
}
.content15, .content18{
  @include p1;
}

.content17, .content19, .content20{
  top: 30px;
}

.content21{
  bottom: 100px;
}
.content24, .content27{
  bottom: 80px;
}
.content25, .content26, .content28{
  bottom: 70px;
}
.content28{
  padding: 0 8%;
  box-sizing: border-box;
}
.content28{
  h5{
    padding-bottom: 20px;
  }
  p{
    @include p3;
    color: $greyColor;
  }
}
.content30, .content31{
  top: 300px;
}
.content30{
  p{
    @include p1;
  }
}
.content31{
  h5{
    padding-bottom: 20px;
  }
  p{
    @include p3;
  }
}
.content32{
  h3 span{
    color: $greyColor;
  }
}
.content33{
  p{
    @include p3;
    color: $greyColor;
    padding-bottom: 10px;
  }
  li{
    padding-bottom: 50px;
    &:last-child{
      padding-bottom: 0;
    }
  }
  h5{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    .icon{
      margin-left: 10px;
    }
  }
}
.content34{
  max-width: 750px;
  right: 0;
  .icon{
    margin-bottom: 20px;
  }
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  li{
    flex-basis: 33%;
    padding: 0 20px 40px;
    box-sizing: border-box;
  }
  p{
    @include p3;
    padding-bottom: 10px;
    &:last-of-type{
      color: $greyColor;
    }
  }
}

.content35{
  top: 130px;
  h3{
    padding-bottom: 40px;
  }
  p{
    @include p1;
  }
}

.content36{
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 0 6%;
  left: 49%;
  transform: translateX(-50%);
  div{
    padding: 20px;
  }
  p{
    @include p3;
    color: $greyColor;
    padding-bottom: 10px;
  }
  h5{
    padding-bottom: 10px;
  }
}

.banner{
  padding-top: 50px;
  display: none;
  &-container{
    max-width: 1260px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-img{
    flex-basis: 50%;
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &-content{
    padding-left: 70px;
    padding-bottom: 80px;
    flex-basis: 50%;
    h4{
      padding-bottom: 40px;
    }
  }
}

.banner.appear{
  display: block;
}

@import "./media";